<div class="topbar">
  <div class="container">
    <a href="index.html" class="menu-item">
        <div class="logo">
          <object type="image/svg+xml" data="{{site.url.static}}assets/kunstliebe_logo.svg">kunstliebe</object>
        </div>
    </a>
    <nav class="menu  menu--horizontal">
      <a href="blog.html" class="menu-item">» Blog</a>
        <a href="shop.html" class="menu-item">» Shop</a>
    </nav>
  </div>
</div>
